#page-user-type.page
  .page-header
    %h1 Start Using DeterLab: New Project Application Form

  %h2 Tell Us About Yourself

  %p Blah blah

  .panel.panel-default
    .panel-body
      .row
        .col-sm-6= link_to "Back", "#", class: "btn btn-primary", data: { bind: "click: showInfoPage" }
        .col-sm-6= link_to "Next", "#", class: "btn btn-primary pull-right"
