---
http_interactions:
- request:
    method: get
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.testbed.deterlab/net/">
            <wsdl:documentation>Users</wsdl:documentation>
            <wsdl:types>
                <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
                    <xs:element name="UsersDeterFault">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:complexType name="DeterFault">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="er[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:requestChallenge><tns:uid>abierce</tns:uid><tns:types>clear</tns:types></tns:requestChallenge></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:requestChallenge"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:requestChallengeResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:requestChallengeResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:UserChallenge"><ns:challengeID>3965034906779072987</ns:challengeID><ns:data
        xsi:nil="true" /><ns:type>clear</ns:type><ns:validity>20150519T062911Z</ns:validity></ns:return></ns:requestChallengeResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Tue, 19 May 2015 06:27:11 GMT
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd" xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:challengeResponse><tns:responseData>QW1icm9zZQ==
        </tns:responseData><tns:challengeID>3965034906779072987</tns:challengeID></tns:challengeResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:challengeResponse"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:challengeResponseResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:so[...]
- request:
    method: get
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Experiments?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Experiments.ExperimentsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:viewExperiments><tns:uid>abierce</tns:uid><tns:regex>Alfa-Romeo:ExperimentOne</tns:regex><tns:listOnly>false</tns:listOnly></tns:viewExperiments></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:viewExperiments"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:viewExperimentsResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:viewExperimentsResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:ExperimentDescription"><ns:ACL xsi:type="ns:AccessMember"><ns:circleId>Alfa-Romeo:Alfa-Romeo</ns:circleId><ns:permissions>MODIFY_EXPERIMENT_ACCESS</ns:permissions><ns:permissions>READ_EXPERIMENT</ns:permissions><ns:permissions>MODIFY_EXPERIMENT</ns:permissions></ns:ACL><ns:ACL
        xsi:type="ns:AccessMember"><ns:circleId>abierce:abierce</ns:circleId><ns:permissions>MODIFY_EXPERIMENT_ACCESS</ns:permissions><ns:permissions>READ_EXPERIMENT</ns:permissions><ns:permissions>MODIFY_EXPERIMENT</ns:permissions></ns:ACL><ns:aspects
        xsi:type="ns:ExperimentAspect"><ns:data>PGV4cGVyaW1lbnQ+Cjx2ZXJzaW9uPjIuMDwvdmVyc2lvbj4KPHN1YnN0cmF0ZXM+CjxuYW1lPmxpbmsyPC9uYW1lPgo8Y2FwYWNpdHk+CjxyYXRlPjEwMDAwMC4wPC9yYXRlPgo8a2luZD5tYXg8L2tpbmQ+CjwvY2FwYWNpdHk+Cjwvc3Vic3RyYXRlcz4KPHN1YnN0cmF0ZXM+CjxuYW1lPmxpbmswPC9uYW1lPgo8Y2FwYWNpdHk+CjxyYXRlPjEwMDAwMC4wPC9yYXRlPgo8a2luZD5tYXg8L2tpbmQ+CjwvY2FwYWNpdHk+Cjwvc3Vic3RyYXRlcz4KPHN1YnN0cmF0ZXM+CjxuYW1lPmxpbmsxPC9uYW1lPgo8Y2FwYWNpdHk+CjxyYXRlPjEwMDAwMC4wPC9yYXRlPgo8a2luZD5tYXg8L2tpbmQ+CjwvY2FwYWNpdHk+Cjwvc3Vic3RyYXRlcz4KPGVsZW1lbnRzPgo8Y29t[...]
