---
http_interactions:
- request:
    method: get
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.testbed.deterlab/net/">
            <wsdl:documentation>Users</wsdl:documentation>
            <wsdl:types>
                <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
                    <xs:element name="UsersDeterFault">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:complexType name="DeterFault">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="er[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:requestChallenge><tns:uid>aadams2</tns:uid><tns:types>clear</tns:types></tns:requestChallenge></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:requestChallenge"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:requestChallengeResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:requestChallengeResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:UserChallenge"><ns:challengeID>-3566537496241793966</ns:challengeID><ns:data
        xsi:nil="true" /><ns:type>clear</ns:type><ns:validity>20150401T202238Z</ns:validity></ns:return></ns:requestChallengeResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 01 Apr 2015 20:20:39 GMT
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd" xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:challengeResponse><tns:responseData>QWJpZ2FpbA==
        </tns:responseData><tns:challengeID>-3566537496241793966</tns:challengeID></tns:challengeResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:challengeResponse"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:challengeResponseResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:s[...]
- request:
    method: get
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Projects?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Projects.ProjectsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:viewProjects><tns:uid>aadams2</tns:uid></tns:viewProjects></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:viewProjects"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:viewProjectsResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:viewProjectsResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:ProjectDescription"><ns:approved>true</ns:approved><ns:members
        xsi:type="ns:Member"><ns:permissions>CREATE_EXPERIMENT</ns:permissions><ns:uid>aashe2</ns:uid></ns:members><ns:members
        xsi:type="ns:Member"><ns:permissions>CREATE_EXPERIMENT</ns:permissions><ns:permissions>CREATE_LIBRARY</ns:permissions><ns:permissions>REMOVE_USER</ns:permissions><ns:permissions>CREATE_CIRCLE</ns:permissions><ns:permissions>ADD_USER</ns:permissions><ns:uid>aadams2</ns:uid></ns:members><ns:members
        xsi:type="ns:Member"><ns:permissions>CREATE_EXPERIMENT</ns:permissions><ns:uid>abierce2</ns:uid></ns:members><ns:owner>aadams2</ns:owner><ns:projectId>Alfa-Romeo</ns:projectId></ns:return><ns:return
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns:ProjectDescription"><ns:approved>true</ns:approved><ns:members
        xsi:type="ns:Member"><ns:permissions>CREATE_EXPERIMENT</ns:permissions><ns:uid>bgreer2</ns:uid></ns:members><ns:members
        xsi:type="ns:Member"><ns:permissions>CREATE_EXPERIMENT</ns:permissions><ns:uid>aadams2</ns:uid></ns:members><ns:members
        xsi:type="ns:Member"><ns:permissions>CREATE_EXPERI[...]
