---
http_interactions:
- request:
    method: get
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.testbed.deterlab/net/">
            <wsdl:documentation>Users</wsdl:documentation>
            <wsdl:types>
                <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
                    <xs:element name="UsersDeterFault">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:complexType name="DeterFault">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="er[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:requestChallenge><tns:uid>deterboss</tns:uid><tns:types>clear</tns:types></tns:requestChallenge></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:requestChallenge"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:requestChallengeResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:requestChallengeResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:UserChallenge"><ns:challengeID>2542438428859273176</ns:challengeID><ns:data
        xsi:nil="true" /><ns:type>clear</ns:type><ns:validity>20150402T191147Z</ns:validity></ns:return></ns:requestChallengeResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 02 Apr 2015 19:09:47 GMT
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd" xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:challengeResponse><tns:responseData>ZGRLYSUoKktvdFFC
        </tns:responseData><tns:challengeID>2542438428859273176</tns:challengeID></tns:challengeResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:challengeResponse"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:challengeResponseResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:so[...]
- request:
    method: get
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Projects?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Projects.ProjectsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:getProfileDescription></tns:getProfileDescription></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:getProfileDescription"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:getProfileDescriptionResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:getProfileDescriptionResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:Profile"><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>URL</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>URL</ns:name><ns:optional>true</ns:optional><ns:orderingHint>200</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Affiliation</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>affiliation</ns:name><ns:optional>true</ns:optional><ns:orderingHint>300</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Description</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>description</ns:name><ns:optional>false</ns:optional><ns:orderingHint>200</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Funders</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>funders</ns:name><ns:optional>true</ns:optional><ns:orderingHint>400</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Project
        Funding or Support</ns:description><ns:format></ns:format><ns:formatDescription></ns:formatDescription><ns:lengthHint>0</ns:lengthHint><ns:name>funding</ns:name><ns:optional>true</ns:optional><ns:orderingHint>400</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Project
        Listing</ns:description><ns:format></ns:format><ns:formatDescription></ns:formatDescription><ns:lengthHint>0</ns:lengthHint><ns:[...]
[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:createUserNoConfirm><tns:profile><tns:name>phone</tns:name><tns:value>301/123-4567</tns:value></tns:profile><tns:profile><tns:name>title</tns:name><tns:value>Research
        Staff</tns:value></tns:profile><tns:profile><tns:name>affiliation</tns:name><tns:value>University
        of South Otago</tns:value></tns:profile><tns:profile><tns:name>affiliation_abbrev</tns:name><tns:value>USO</tns:value></tns:profile><tns:profile><tns:name>URL</tns:name><tns:value>http://uso.edu</tns:value></tns:profile><tns:profile><tns:name>address1</tns:name><tns:value>123
        Main St.</tns:value></tns:profile><tns:profile><tns:name>address2</tns:name><tns:value></tns:value></tns:profile><tns:profile><tns:name>city</tns:name><tns:value>South
        Ontago</tns:value></tns:profile><tns:profile><tns:name>state</tns:name><tns:value>Farallon</tns:value></tns:profile><tns:profile><tns:name>zip</tns:name><tns:value>12345</tns:value></tns:profile><tns:profile><tns:name>country</tns:name><tns:value>US</tns:value></tns:profile><tns:profile><tns:name>name</tns:name><tns:value>Abigail
        Adams</tns:value></tns:profile><tns:profile><tns:name>email</tns:name><tns:value>aadams@uso.edu</tns:value></tns:profile><tns:clearpassword>Abigail</tns:clearpassword></tns:createUserNoConfirm></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:createUserNoConfirm"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:createUserNoConfirmResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:createUserNoConfirmResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return>aadams12</ns:return></ns:createUserNoConfirmResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 02 Apr 2015 19:09:58 GMT
[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Projects.ProjectsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:createProject><tns:projectid>Alfa-Romeo</tns:projectid><tns:owner>aadams12</tns:owner><tns:profile><tns:name>website</tns:name><tns:value>http://uso.edu/research</tns:value></tns:profile><tns:profile><tns:name>org_type</tns:name><tns:value>Academic</tns:value></tns:profile><tns:profile><tns:name>research_focus</tns:name><tns:value>Malware</tns:value></tns:profile><tns:profile><tns:name>funding</tns:name><tns:value>Academic
        Institution Support</tns:value></tns:profile><tns:profile><tns:name>listing</tns:name><tns:value>true</tns:value></tns:profile><tns:profile><tns:name>description</tns:name><tns:value>Study
        the speed of malware spread in a closed environment.</tns:value></tns:profile></tns:createProject></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:createProject"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/soap+xml; action="urn:createProjectProjectsDeterFault";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><soapenv:Fault><soapenv:Code><soapenv:Value>soapenv:Receiver</soapenv:Value></soapenv:Code><soapenv:Reason><soapenv:Text
        xml:lang="en-US">unknown</soapenv:Text></soapenv:Reason><soapenv:Detail><ns:ProjectsDeterFault
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><DeterFault xmlns="http://api.testbed.deterlab.net/xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns:DeterFault"><ns:detailMessage>Project
        name conflict on Alfa-Romeo</ns:detailMessage><ns:errorCode>2</ns:errorCode><ns:errorMessage>Badly
        Formed Request</ns:errorMessage></DeterFault></ns:ProjectsDeterFault></soapenv:Detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 02 Apr 2015 19:10:02 GMT
[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Projects.ProjectsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:removeProject><tns:projectid>Alfa-Romeo</tns:projectid></tns:removeProject></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:removeProject"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:removeProjectResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:removeProjectResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return>true</ns:return></ns:removeProjectResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 02 Apr 2015 19:10:06 GMT
[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Projects.ProjectsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:approveProject><tns:projectid>Alfa-Romeo</tns:projectid><tns:approved>true</tns:approved></tns:approveProject></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:approveProject"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:approveProjectResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:approveProjectResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return>true</ns:return></ns:approveProjectResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 02 Apr 2015 19:10:15 GMT
[...]
