---
http_interactions:
- request:
    method: get
    uri: https://users.isi.deterlab.net:52323/axis2/services/ApiInfo?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://api.testbed.deterlab.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.testbed.deterlab.net/">
            <wsdl:documentation>ApiInfo</wsdl:documentation>
            <wsdl:types>
                <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
                    <xs:element name="getVersion">
                        <xs:complexType>
                            <xs:sequence/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="getVersionResponse">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="return" nillable="true" type="ns:ApiInfo_VersionResponse"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:complexType name="ApiInfo_VersionResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="keyID" nillable="true" type="xs:string"/>
                            <xs:element minOccur[...]
- request:
    method: post
    uri: https://users.isi.deterlab.net:52323/axis2/services/ApiInfo.ApiInfoHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><ns:getVersion></ns:getVersion></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:getVersion"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:getVersionResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:getVersionResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:ApiInfo_VersionResponse"><ns:keyID xsi:nil="true" /><ns:patchLevel>0.0</ns:patchLevel><ns:version>0.2</ns:version></ns:return></ns:getVersionResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 22 Oct 2014 11:22:29 GMT
recorded_with: VCR 2.9.3
