---
http_interactions:
- request:
    method: get
    uri: https://users.isi.deterlab.net:52323/axis2/services/Projects?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.testbed.deterlab/net/">
            <wsdl:documentation>Projects</wsdl:documentation>
            <wsdl:types>
                <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
                    <xs:element name="ProjectsDeterFault">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:complexType name="DeterFault">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="er[...]
- request:
    method: post
    uri: https://users.isi.deterlab.net:52323/axis2/services/Projects.ProjectsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:getProfileDescription></tns:getProfileDescription></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:getProfileDescription"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:getProfileDescriptionResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:getProfileDescriptionResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:Profile"><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>URL</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>URL</ns:name><ns:optional>true</ns:optional><ns:orderingHint>200</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Affiliation</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>affiliation</ns:name><ns:optional>true</ns:optional><ns:orderingHint>300</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Description</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>description</ns:name><ns:optional>false</ns:optional><ns:orderingHint>200</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Funders</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>funders</ns:name><ns:optional>true</ns:optional><ns:orderingHint>400</ns:orderingHint><ns:value
        xsi:nil="true" /></ns:attributes><ns:id xsi:nil="true" /></ns:return></ns:getProfileDescriptionResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Tue, 25 Nov 2014 07:44:01 GMT
recorded_with: VCR 2.9.3
