- @submenu = :my_libraries
.page-header
  %h1= raw t '.title'
  = raw t '.info'

.row
  .col-sm-12
    = render partial: 'libraries_table', object: @libraries

.row
  .col-sm-12
    = link_to t(".new_library"), :new_library, class: "btn btn-default"
