- @submenu ||= :library
.page-header
  %h1= raw t '.title', id: @library.libid
  = raw t '.info', owner: @library.owner

.row
  .col-sm-12

    .row.section-row
      .col-sm-11
        %h4= t '.experiments'
      .col-sm-1.text-right
        %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#experiments-section' }, "aria-expanded" => false, "aria-controls" => "experiments-section" } Hide

    .row.section#experiments-section.collapse.in
      .col-sm-12.body
        %span.spinner Loading. Please wait&hellip;
