# general purpose user for tests
general_user:
  username:
  password:

# user with experiment with aspects
user_with_aspects:
  username:
  password:

# user with multiple projects
user_with_multiple_projects:
  username:
  password:

# admin user for seeding tests
admin_user:
  username:
  password:
