#data-editor {
  height: 300px;
  border: 1px solid #ccc;
  display: none;

  &.read-only {
    background-color: whitesmoke;
  }
}

pre.view {
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 0;
  border: 1px solid #eee;
  overflow: scroll;
  max-height: 400px;
  word-wrap: normal;
  white-space: pre;
}
