#data-editor {
  height: 300px;
  border: 1px solid #ccc;
  display: none;

  &.read-only {
    background-color: whitesmoke;
  }
}

pre.view {
  margin-top: 8px;
  margin-bottom: 0;
  border: 1px solid #eee;
}
