body {
  padding-top: 0;
}

body#spi_log_index {
  padding-top: 0;
}

#main-wrapper {
  min-height: 100vh;
  margin-top: -80px;
  padding-top: 117px + 20px + 48px + 80px;
}
body.loggedout #main-wrapper {
  padding-top: 117px + 20px + 80px;
}

.spinner {
  width: 32px;
  height: 32px;
  background: image-url('preloader-32x32.gif') transparent 0 0 no-repeat;
}
.spinner.with-text {
  width: auto;
  padding-left: 42px;
  line-height: 32px;
}
span.spinner {
  display: inline-block;
}
