.page-header {
  margin-top: 0;

  h1 {
    font-size: 16pt;
    margin-top: 0;
  }
}

h2 {
  font-size: 14pt;
  margin-bottom: 20px;
}

.panel {
  margin-top: 20px;
}

.section-row {
  background-color: #f4f4f4;
  margin-bottom: 5px;

  h4, button, .btn {
    margin-top: 10px;
  }
}

.section-subheader {
  h5 {
    height: 22px;
    line-height: 22px;
  }

  .action {
    height: 22px;
    margin: 10px 0;
  }
}
