.page-header {
  margin-top: 0;

  h1 {
    font-size: 16pt;
    margin-top: 0;
  }
}

h2 {
  font-size: 14pt;
  margin-bottom: 20px;
}

.panel {
  margin-top: 20px;
}

.section-row {
  h4, button {
    margin-top: 10px;
  }
}
