tr[data-more-id] table {
  td, th { border: 0; }
}

.data-cell {
  &.loading {
    text-align: center;
  }
  .spinner {
    display: inline-block;
    margin-bottom: 3px;
  }

  th {
    width: 200px;
  }
}

#projects_show, #projects_manage {
  .spinner {
    width: auto;
    padding-left: 42px;
    line-height: 32px;
  }
}
