---
http_interactions:
- request:
    method: get
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://api.testbed.deterlab.net/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://api.testbed.deterlab/net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.testbed.deterlab/net/">
            <wsdl:documentation>Users</wsdl:documentation>
            <wsdl:types>
                <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.testbed.deterlab.net/xsd">
                    <xs:element name="UsersDeterFault">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="DeterFault" nillable="true" type="ns:DeterFault"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:complexType name="DeterFault">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="detailMessage" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="er[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:requestChallenge><tns:uid>aadams</tns:uid><tns:types>clear</tns:types></tns:requestChallenge></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:requestChallenge"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:requestChallengeResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:requestChallengeResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:UserChallenge"><ns:challengeID>4018308438804880394</ns:challengeID><ns:data
        xsi:nil="true" /><ns:type>clear</ns:type><ns:validity>20150415T113702Z</ns:validity></ns:return></ns:requestChallengeResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 15 Apr 2015 11:35:02 GMT
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd" xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:challengeResponse><tns:responseData>QWJpZ2FpbA==
        </tns:responseData><tns:challengeID>4018308438804880394</tns:challengeID></tns:challengeResponse></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:challengeResponse"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:challengeResponseResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:so[...]
- request:
    method: get
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Experiments?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Experiments.ExperimentsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:viewExperiments><tns:uid>aadams</tns:uid><tns:listOnly>true</tns:listOnly></tns:viewExperiments></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:viewExperiments"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:viewExperimentsResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:viewExperimentsResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:ExperimentDescription"><ns:ACL xsi:type="ns:AccessMember"><ns:circleId>Alfa-Romeo:Alfa-Romeo</ns:circleId><ns:permissions>MODIFY_EXPERIMENT_ACCESS</ns:permissions><ns:permissions>READ_EXPERIMENT</ns:permissions><ns:permissions>MODIFY_EXPERIMENT</ns:permissions></ns:ACL><ns:ACL
        xsi:type="ns:AccessMember"><ns:circleId>aadams:aadams</ns:circleId><ns:permissions>MODIFY_EXPERIMENT_ACCESS</ns:permissions><ns:permissions>READ_EXPERIMENT</ns:permissions><ns:permissions>MODIFY_EXPERIMENT</ns:permissions></ns:ACL><ns:experimentId>Alfa-Romeo:HelloWorld</ns:experimentId><ns:owner>aadams</ns:owner><ns:perms>MODIFY_EXPERIMENT_ACCESS</ns:perms><ns:perms>READ_EXPERIMENT</ns:perms><ns:perms>MODIFY_EXPERIMENT</ns:perms></ns:return><ns:return
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns:ExperimentDescription"><ns:ACL
        xsi:type="ns:AccessMember"><ns:circleId>Alfa-Romeo:Alfa-Romeo</ns:circleId><ns:permissions>MODIFY_EXPERIMENT_ACCESS</ns:permissions><ns:permissions>READ_EXPERIMENT</ns:permissions><ns:permissions>MODIFY_EXPERIMENT</ns:permissions></ns:ACL><ns:ACL
       [...]
[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Users.UsersHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:getUserProfile><tns:uid>aadams</tns:uid></tns:getUserProfile></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:getUserProfile"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:getUserProfileResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:getUserProfileResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:Profile"><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>URL</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>URL</ns:name><ns:optional>true</ns:optional><ns:orderingHint>1200</ns:orderingHint><ns:value>http://uso.edu</ns:value></ns:attributes><ns:attributes
        xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Address</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>address1</ns:name><ns:optional>true</ns:optional><ns:orderingHint>500</ns:orderingHint><ns:value>123
        Main St.</ns:value></ns:attributes><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Address
        Line 2</ns:description><ns:format xsi:nil="true" /><ns:formatDescription xsi:nil="true"
        /><ns:lengthHint>0</ns:lengthHint><ns:name>address2</ns:name><ns:optional>true</ns:optional><ns:orderingHint>600</ns:orderingHint><ns:value></ns:value></ns:attributes><ns:attributes
        xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Affiliation</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:nam[...]
[...]
- request:
    method: post
    uri: https://spidev.isi.deterlab.net:52323/axis2/services/Experiments.ExperimentsHttpsSoap11Endpoint/
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://api.testbed.deterlab.net/xsd"
        xmlns:env="http://www.w3.org/2003/05/soap-envelope"><env:Body><tns:getExperimentProfile><tns:eid>Alfa-Romeo:HelloWorld</tns:eid></tns:getExperimentProfile></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:getExperimentProfile"'
      Content-Type:
      - application/soap+xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; action="urn:getExperimentProfileResponse";charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://www.w3.org/2003/05/soap-envelope"><soapenv:Body><ns:getExperimentProfileResponse
        xmlns:ns="http://api.testbed.deterlab.net/xsd"><ns:return xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns:Profile"><ns:attributes xsi:type="ns:Attribute"><ns:access>READ_WRITE</ns:access><ns:dataType>string</ns:dataType><ns:description>Description</ns:description><ns:format
        xsi:nil="true" /><ns:formatDescription xsi:nil="true" /><ns:lengthHint>0</ns:lengthHint><ns:name>description</ns:name><ns:optional>false</ns:optional><ns:orderingHint>100</ns:orderingHint><ns:value>Custom
        experiment</ns:value></ns:attributes><ns:id>Alfa-Romeo:HelloWorld</ns:id></ns:return></ns:getExperimentProfileResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 15 Apr 2015 11:35:16 GMT
[...]
