%h1 SPI Log

- if @records.blank?
  %p No records yet
- else
  .row
    %table.table.table-striped
      - @records.each do |json|
        - r = JSON.parse(json)
        %tr
          %td.col-sm-2= Time.at(r["time"]).strftime("%B %d %Y %l:%m%P")
          %td.col-sm-2= r["type"]
          %td.col-sm-8
            %pre= format_log_xml r["xml"]
